* {
    margin: 0;
    padding: 0;
}



/* DISEÑO DEL NAVBAR DE BOOTSTRAP */
header {
    position: sticky;
    top: 0;
    z-index: 1;  /* Esto lo hago para que se superponga al relative y absolute de las imagenes en ranking */
}

.container-fluid {
    background-color: black;
    border-top: 5px solid orange;
    border-bottom: 5px solid orange;
}

.collapse{
    justify-content: center;
    align-items: center;
}

.collapse .nav-link:hover {
    background-color: orange;
}

.collapse a{
    color: orange;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-decoration: double;
}

.container-fluid .navbar-brand {
    color: orange;
    font-size: 35px;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    text-decoration: double;
}

.container-fluid .navbar-brand:hover{
    background-color: orange;
    color: black;
}

.navbar-toggler {
    background-color: orange;
}

/* BODY CSS */

/* AJUSTE PARA EL FOOTER (PARA QUE NO QUEDE A MITAD DE PAGINA CUANDO NO HAY CONTENIDO */
body {
    position: relative;
    padding-bottom: 20vh;
    min-height: 100vh;
}

/* IMAGENES */
.image_header_container {
    display: flex;
    width: 100%;
}

.image_header_container img{
    width: 10%;
    border-bottom: 5px solid orange;
}

.item_container img {
    width: 10vw;
    border: 5px solid orange;
    border-radius: 15px;
    margin-left: 10px;
}

.img_item_container {
    display: flex;
    position: relative;
    text-align: center;
}

.img_item_container h2 {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    background-color: #8ca315;
    border-radius: 20px;
    width: 5vw;
}
/* TITULO */

.title {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: double;
    text-decoration: underline 5px solid orange;
}

/* GRIDS */
.grid_container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap: 40px;
    grid-template-areas: 
    "section1 section2 section3";

}
section#sectionLeft{
    grid-area: section1;
}

section#sectionMain{
    grid-area: section2;
}

section#sectionRight{
    grid-area: section3;
}
.left_aside {
    position: static;
    width: 20%;
    position: fixed;
    left: 0;

}
.left_aside img {
    width: 100%;
    height: 15vh;
}
.right_aside {
    position: fixed;
    width: 20%;
    height: 100vh;
    right: 0;
}

.right_aside img {
    width: 100%;
    height: 15vh;
}

/* ARTICLES */

.article {
    margin-top: 10vh;
    width: 100%;
    border-bottom: 1px solid grey;
}

.article h2 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline 5px solid orange;
    font-family: 'Montserrat', sans-serif;
    
}
.article h3 {
    font-size: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: double;
}
.article_img_container img{
    width: 30vw;
    height: 30vh;
    margin: 15px;
    border: 5px solid orange;
    border-radius: 10px;
}

.article_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article_p_container {
    font-size: 15px;
    text-decoration: double;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.article_img_list li {
    list-style: none;
    font-size: 30px;
}

.article_iframe_container iframe {
    width: 100%;
    border: 5px solid orange;
    border-radius: 10px;
}

.article_iframe_container a {
    visibility: hidden;
}

.top_article {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.top_article li {
    color: orange;
    margin-bottom: 10px;
    border-bottom: 2px solid orange;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.item_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    border-bottom: 1px solid gray;
    
}

.login_container input {
    width: 30%;
    display: block;
    margin-left: 35%;
    margin-bottom: 5vh;
    margin-top: 10px;
    border: 2px solid orange;
    border-radius: 15px;
}

.login_container button {
    background-color: orange;
    border: 2px solid orange;
    margin-bottom: 20px;
    font-size: 20px;
    margin-left: 47%;
    border-radius: 15px;
}

button:hover {
    text-decoration: underline;
}

.music_container h2 {
    text-align: center;
    margin-top: 20px;
    border-bottom: 5px solid orange;
}

.music_container p {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
/* FOOTER */

.Footer {
    background-color: black;
    display: flex;
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-top: 5px solid orange;
}

.Footer li , a {
    color: orange;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
/* OCULTAR LA "IMAGEBAR" */
@media (max-width: 991px){

    .image_header_container {
        visibility: hidden;
    }  
    /* OCULTAR LOS ASIDES */
    .left_aside {
        visibility: hidden;
    } 
    .right_aside {
        visibility: hidden;
    }

    /* MODIFICO LAS COLUMNAS */
    .grid_container {
        grid-template-columns: 1fr;
    }

    /* MODIFICO LAS IMAGENES */

    .article_img_container {
        display: block;
    }

    .article_img_container img {
        width: 50vw;
        height: 40vh;
        margin-left: 20%;
    }
    
    /* MODIFICO EL FOOTER */
    .Footer li {
        visibility: hidden;
    }
   
    .Footer a {
        visibility: visible;
    }

    /* MODIFICO IFRAME */
    .article_iframe_container iframe {
        visibility: hidden;
    }

    .article_iframe_container h2 {
        visibility: hidden;
    }

    .article_iframe_container a {
        visibility: visible;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: underline;
        font-size: 30px;
        margin-left: 30%;
    }

    
}
